.content__path{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title__OS{
    font-weight: bold;
    font-style: sans-serif;  
    padding: 3rem;
}

.logo__picture{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo__picture img{
    width: 20%;
}

.btn__to-create-OS{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.btn__to-show{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   padding-inline: 5rem;
}


.invoice-container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    
    border: 1px solid #007144;
    padding: 20px;
    border-radius: 8px;
  }
  
  .invoice-header {
  display: flex;
  flex-direction: column;
  width: 40%;
  
  }
  
  .invoice-header p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .invoice-table th,
  .invoice-table td {
    border: 1px solid #007144;
    padding: 8px;
    text-align: left;
  }
  
  .invoice-table th {
    background-color: #007144;
    color: white;
    text-transform: uppercase;
  }
  
 
  
  .total-section {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
  

  .warn__user-no-order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #80CE00;
    color: white ;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin-top: 1rem;
  }

  .invoice-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }

  .btn__actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }